
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 0;
}

.sidenav-open {
  width: 250px;
  font-size: 1rem;
}

.sidenav.navlink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav.navlink:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav.navlink {
    font-size: 18px;
  }
}

/* Side Nav Responsive widths*/
@media (max-width: 991.98px) {
  .sidenav-open {
    width: 300px !important;
  }
}

@media (max-width: 768px) {
  .sidenav-open {
    width: 500px !important;
  }
}

@media (max-width: 576px) {
  .sidenav-open {
    width: 100% !important;
  }

}

/*Hide Side Nav responsive */

@media (min-width: 992px) {
  .sidenav-hide-lg {
    width: 0 !important;
    font-size: 0 !important;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-md {
    width: 0 !important;
    font-size: 0 !important;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-sm {
    width: 0 !important;
    font-size: 0 !important;
  }
}