
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1022;
  top: 0;
  left: -250px;
  background-color: transparent;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 60px;
}

.sidenav-open {
  left: 0;
}

/* Side Nav Responsive widths*/
@media (max-width: 991.98px) {
  .sidenav-open {
    width: 300px;
  }
}

@media (max-width: 300px) {
  .sidenav-open {
    width: 90%;
  }
}

.sidenav.navlink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav.navlink:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-top:10px ;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav.navlink {
    font-size: 18px;
  }
}

/*Hide Side Nav responsive */

@media (min-width: 992px) {
  .sidenav-hide-lg {
    width: 0 !important;
    font-size: 0 !important;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-md {
    width: 0 !important;
    font-size: 0 !important;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-sm {
    width: 0 !important;
    font-size: 0 !important;
  }
}

/* Styling for the Overlay*/
.sidenav-overlay {
  z-index: 1021;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-open {
  display: block;
}

/*Hide Side Nav responsive */

@media (min-width: 992px) {
  .sidenav-hide-lg {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidenav-hide-sm {
    display: none;
  }
}
